@import '_reset';
@import '_fonts';
@import '_typography';
@import '_animations';

* {
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'Indie Flower', Helvetica, Arial, sans-serif;
  font-size: 18px;
  letter-spacing: .5px;
  line-height: 1.75;
}

img {
  max-width: 100%;
  height: auto;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #fff;
}
